<h1>Crear Producto</h1>
<form (ngSubmit)="newProduct()">
  <mat-form-field appearance="fill">
    <mat-label>Nombre del Producto</mat-label>
    <input matInput name="nombre" [(ngModel)]="newProducts.nombre" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Precio</mat-label>
    <input matInput name="precio" type="number" [(ngModel)]="newProducts.precio" required />
  </mat-form-field>

  <div class="actions">
    <button mat-raised-button mat-dialog-close color="primary" type="button">
      Cerrar
    </button>
    <button mat-raised-button color="primary" type="submit" >
      Guardar
    </button>
  </div>
</form>

